<%- include('../../layout/head.ejs') %>

<body>
  <header>
    <div>Best Books!</div>
    <div>Back to Saved Books | <a href="/">Click Here</a></div>
  </header>
  <main>
      <ul>
          <%- include('./detail.ejs') %>
      </ul>
  </main>
<%- include('../../layout/footer.ejs') %>