<!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <link href="/styles/reset.css" rel="stylesheet" type="text/css">
    <link href="/styles/base.css" rel="stylesheet" type="text/css">
    <link href="/styles/layout.css" rel="stylesheet" type="text/css">
    <link href="/styles/modules.css" rel="stylesheet" type="text/css">
    <link href="/styles/icons.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <div>
          <h1>Best Books!</h1>
          <!-- Menu -->
        </div>
        <div>
          <h2>Search Results</h2>
        </div>
      </nav>
    </header>
    <main>
      <div>
        <img src="<%= img %>">
        <h3>Hello <%= h3 %></h3>
        <h4>Author <%= h4 %></h4>
        <p>Description <%= p %></p>
      </div>
    </main>
    <footer></footer>
  </body>
</html>