<!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <link href="/styles/reset.css" rel="stylesheet" type="text/css">
    <link href="/styles/base.css" rel="stylesheet" type="text/css">
    <link href="/styles/layout.css" rel="stylesheet" type="text/css">
    <link href="/styles/modules.css" rel="stylesheet" type="text/css">
    <link href="/styles/icons.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div>Best Books!</div>
      <div>Home Page</div>
    </header>
    <main>
      <h1>Hello World</h1>
    </main>
    <footer></footer>
  </body>
</html>